/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    box-sizing: border-box;
}



html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

.services {
  width: 880px;
  margin: 0 auto;
}

/* header */

header nav {
  display: inline-block;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  display: inline-block;
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  margin-top: 25px;
}

/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}


.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  margin-top: 69px;
}

/* this is for services */



/* this is for index */
.main-content .top-content {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  border: 5px pink dashed;
}

/*index */
.main-content .top-content .text-content {
  width: 200px;
  margin-right: 34px;
  border: 10px lime dashed;
}



/* services */

/* services*/
/* index */
.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

/* services */

/* services */

/*services*/
/*services*/



/* index */
.main-content .middle-img {
  margin-top: 45px;
}

/* index */
.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;

}

/* index */
.main-content .bottom-content .text-content {
  width: 275px;
  margin-right: 12px;
}

/* index */
.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

/* services */

/* services */

/*services*/

/* services */
/* inex*/

/* index */


/* only services page stuff below this line*/

/* the main services container */
.services {
  border: 9px black dashed;
  width: 880px;
  /* TB LR */
  margin: 0 auto;

}

.services-top-content-section {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;


  border: dotted yellow 5px;
}


.services-header-img {
  width 100%;
}

.services-top-content-text {
  width: 100%;
  /* trbl */
  margin: 40px 0 40px 0;
  border: dashed blue 5px;
}

.services-top-content-text h1 {
  font-size: 36px;
}

.services-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 3px solid black;
  border: red dotted 8px;
}

.services-text-cards {
  width: 410px;
  margin: 20px 20px 40px 20px;
  border: 3px dodgerblue solid;
  line-height: 20px;

}

.services-text-content button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  /* trbl */
  margin: 30px 0 20px 20;

}
.services-text-content button:hover {
  background: black;

}
.services-bottom-content {
  /*trbl*/
  padding: 20px 0 50px; 0;
  border-top: black 3px solid;
  border: cyan dotted 10px;
}

.services-bottom-text {
  width: 420px;
  height: 150px;
  line-height: 20px;
  border: dashed lime 10px;
}

.services-info-img {
  border: 10px palegreen solid;
}

.services-text-list {
  height: 200px;
  width: 420px;
  border: pink dotted 5px;
  padding: 20px;
}

.services-text-list ul li {
  list-style: square;
  padding: 5px;
}
.services-footer {
  text-align: center;
  border: 15px yellow solid;
}

